<div id="module-name" class="element-shadow element-margin-top">
  <section *ngFor="let item of [].constructor(sectionLength)">
    <div #sections>
      {{ 'Section ' + (currentSection + 1) }}
      
      <div *ngIf="currentSection === 0" class="section-content">
        <div class="group">
          <label for="name">First Name:</label>
          <input type="text" placeholder="Enter a name" id="name" />
        </div>
        <div class="group">
          <label for="occupation">Occupation:</label>
          <input type="text" placeholder="Your occupation" id="occupation" />
        </div>
        <div class="group">
          <label for="title">Title:</label>
          <input type="text" placeholder="Your title" id="title" />
        </div>
      </div>

      <div *ngIf="currentSection === 1" class="section-content">
        <div class="group">
          <label for="city">City:</label>
          <input type="text" placeholder="Your city" id="city" />
        </div>
        <div class="group">
          <label for="state">State:</label>
          <input type="text" placeholder="Your state" id="state" />
        </div>
        <div class="group">
          <label for="zip">Zip Code:</label>
          <input type="text" placeholder="Your zip code" id="zip" />
        </div>
      </div>

      <div *ngIf="currentSection === 2" class="section-content">Results...</div>
      
    </div>
  </section>

  <div id="indicator" #bar></div>
  
  <div id="percent">
    <div #percentages *ngFor="let percent of [].constructor(sectionLength); let i = index">
      {{ Math.round((100 / sectionLength) * (i + 1)) + '%' }}
    </div>
  </div>

  <div
    class="btn-group"
    #btnGroup
    (mouseover)="showProgressBar()"
    (mouseout)="hideProgressBar()"
  >
    <button
      *ngFor="let btn of [].constructor(sectionLength); let i = index"
      (click)="navigate(i)"
    >
      {{ 'Section ' + (i + 1) }}
    </button>
  </div>
</div>
